

<main class="main">


   <mat-toolbar class="main-toolbar">
      <mat-toolbar-row>
        <a mat-button href="" color="primary">Selection</a>
        <span class="example-spacer"></span>
        <button mat-icon-button >
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button >
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>



    <mat-tab-group dynamicHeight style="height: 100%;">
      <mat-tab label="Bridge"> 
        <div class="bridge-view">

          <div class="wax-token-login-view">
            <button mat-flat-button color="accent" (click)="login()">Click ME</button>
            <span *ngIf="userName">{{userName}}</span>

          </div>

        </div>
      </mat-tab>
      <mat-tab label="Claim"> Content 2 </mat-tab>
      <mat-tab label="History"> Content 3 </mat-tab>
    </mat-tab-group>


    <!-- <mat-drawer-container class="example-container" style="height: 100%;">
      <mat-drawer mode="side" opened>Drawer content</mat-drawer>
      <mat-drawer-content>
         <mat-tab-group>
            <mat-tab label="Bring"> 
               <button mat-flat-button color="accent" (click)="login()">Click ME</button>
               <span *ngIf="userName">{{userName}}</span>
            </mat-tab>
            <mat-tab label="Claim"> Content 2 </mat-tab>
            <mat-tab label="History"> Content 3 </mat-tab>
          </mat-tab-group>
      </mat-drawer-content>
    </mat-drawer-container> -->
    
</main>

<router-outlet></router-outlet>
